body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
h1{
    text-align: center;
    padding: 100px auto 50px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    margin-top: 0;
    margin-bottom: 0;

}
h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20PX;
    }
}
hr{
    border: dotted grey 3px;
    width: 6%;
    border-bottom: none;
    margin: 100px auto;
}
a{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px;
    text-decoration: none;
    font-weight: bolder;
    color:  whitesmoke;
}
p{
    line-height: 2;
    font-weight: bolder;
}
.rainbow-img{
    width: 30%;
    padding-left: 39%;

}
.first-cloud{
    margin-left: 30%;
    margin-top: 2em;

}
.second-cloud{
    margin-left: 65%;
    margin-top: 2em;
}
.profile-pic {
    width: 25%;
    margin: 10px 5.625rem;
}
.dance {
    width: 25%;
    float: left;
margin-right: 30px;
}
.photography {
    width: 15%;
    float: right;
    margin-left: 30px;
}
.skill-row{
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.contact-s{
    font-weight: bolder;
    padding: 50px;
    line-height: 2;
    
}
.top-container {
    background-color: #3DF6DF;
    margin: 0;
}
.middle-container {
    margin: 100px 0;

}
.bottom-container{
    background-color: #3DF6DF;
    padding: 50px;
}
.BUTTON_KLS {
    background: #3DF6DF;
    background-image: -webkit-linear-gradient(top, #3DF6DF, #1CD5CD);
    background-image: -moz-linear-gradient(top, #3DF6DF, #1CD5CD);
    background-image: -ms-linear-gradient(top, #3DF6DF, #1CD5CD);
    background-image: -o-linear-gradient(top, #3DF6DF, #1CD5CD);
    background-image: -webkit-gradient(to bottom, #3DF6DF, #1CD5CD);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 147px;
    font-size: 22px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 5px 2px 2px 0 #000000;
    -moz-box-shadow: 5px 2px 2px 0 #000000;
    box-shadow: 5px 2px 2px 0 #000000;
    text-shadow: 3px -1px 65px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_KLS:hover {
    border: solid #1CD5CD 1px;
    background: #3DD9F6;
    background-image: -webkit-linear-gradient(top, #3DD9F6, rgba(NaN, NaN, NaN, 0.94));
    background-image: -moz-linear-gradient(top, #3DD9F6, rgba(NaN, NaN, NaN, 0.94));
    background-image: -ms-linear-gradient(top, #3DD9F6, rgba(NaN, NaN, NaN, 0.94));
    background-image: -o-linear-gradient(top, #3DD9F6, rgba(NaN, NaN, NaN, 0.94));
    background-image: -webkit-gradient(to bottom, #3DD9F6, rgba(NaN, NaN, NaN, 0.94));
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
 }
